n8n/workflows/paiement-quittance.json
{
  "name": "ImmoGuinée - Payment Confirmation & Quittance",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "payment-notification",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.event_type }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json.payment_id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "validate-payload",
      "name": "Validate Payload",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.event_type }}",
              "operation": "equals",
              "value2": "payment_confirmed"
            }
          ]
        }
      },
      "id": "check-event-type",
      "name": "Is Payment Confirmed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Parse payment data and prepare notifications for both parties\nconst data = $input.item.json;\nconst channels = data.channels || ['sms', 'email', 'push', 'whatsapp'];\nconst notifications = [];\n\n// Format amount in GNF\nconst formatAmount = (amount) => amount?.toLocaleString('fr-GN') + ' GNF';\n\n// Notification for LOCATAIRE (payer)\nif (data.locataire) {\n  const loc = data.locataire;\n  \n  if (channels.includes('email') && loc.email) {\n    notifications.push({\n      channel: 'email',\n      to: loc.email,\n      subject: `Paiement confirmé - ${data.payment_reference}`,\n      body: `Bonjour ${loc.nom_complet},\\n\\nVotre paiement a été confirmé avec succès.\\n\\n📋 Détails du paiement:\\n- Référence: ${data.payment_reference}\\n- Montant total: ${formatAmount(data.montant_total)}\\n- Loyer: ${formatAmount(data.montant_loyer)}\\n- Caution: ${formatAmount(data.montant_caution)}\\n- Commission plateforme: ${formatAmount(data.montant_commission)}\\n- Méthode: ${data.methode_paiement}\\n\\n🏠 Bien concerné: ${data.listing_titre}\\n📍 Quartier: ${data.listing_quartier}\\n\\n📄 Votre quittance est disponible: ${data.quittance_url}\\n\\n⚠️ Les fonds sont actuellement en séquestre (48h) pour votre protection.\\n\\nL'équipe ImmoGuinée`,\n      attachments: data.quittance_url ? [{ name: 'quittance.pdf', url: data.quittance_url }] : []\n    });\n  }\n  \n  if (channels.includes('sms') && loc.telephone) {\n    notifications.push({\n      channel: 'sms',\n      to: loc.telephone,\n      message: `ImmoGuinée: Paiement ${data.payment_reference} confirmé (${formatAmount(data.montant_total)}). Quittance: ${data.quittance_url}`\n    });\n  }\n  \n  if (channels.includes('whatsapp') && loc.whatsapp) {\n    notifications.push({\n      channel: 'whatsapp',\n      to: loc.whatsapp,\n      message: `*ImmoGuinée - Paiement Confirmé* ✅\\n\\n*Référence:* ${data.payment_reference}\\n*Montant:* ${formatAmount(data.montant_total)}\\n\\n📋 *Détails:*\\n- Loyer: ${formatAmount(data.montant_loyer)}\\n- Caution: ${formatAmount(data.montant_caution)}\\n- Commission: ${formatAmount(data.montant_commission)}\\n\\n🏠 ${data.listing_titre}\\n📍 ${data.listing_quartier}\\n\\n📄 Quittance: ${data.quittance_url}\\n\\n_Les fonds sont en séquestre 48h pour votre protection._`\n    });\n  }\n  \n  if (channels.includes('push') && loc.user_id) {\n    notifications.push({\n      channel: 'push',\n      user_id: loc.user_id,\n      title: 'Paiement confirmé ✅',\n      body: `${formatAmount(data.montant_total)} - ${data.listing_titre}`,\n      data: {\n        payment_id: data.payment_id,\n        action_url: data.payment_detail_url\n      }\n    });\n  }\n}\n\n// Notification for PROPRIETAIRE (recipient)\nif (data.proprietaire) {\n  const prop = data.proprietaire;\n  const montantProprietaire = data.montant_loyer + data.montant_caution;\n  \n  if (channels.includes('email') && prop.email) {\n    notifications.push({\n      channel: 'email',\n      to: prop.email,\n      subject: `Nouveau paiement reçu - ${data.payment_reference}`,\n      body: `Bonjour ${prop.nom_complet},\\n\\nUn paiement a été effectué pour votre bien.\\n\\n📋 Détails:\\n- Référence: ${data.payment_reference}\\n- Montant à recevoir: ${formatAmount(montantProprietaire)}\\n- Commission ImmoGuinée: ${formatAmount(data.montant_commission)}\\n- Locataire: ${data.locataire?.nom_complet}\\n\\n🏠 Bien concerné: ${data.listing_titre}\\n\\n⏳ Statut: En séquestre (48h)\\n\\nLes fonds seront automatiquement libérés dans 48h, sauf si vous signalez un problème.\\n\\n👍 Valider maintenant: ${data.validation_url}\\n\\nL'équipe ImmoGuinée`\n    });\n  }\n  \n  if (channels.includes('sms') && prop.telephone) {\n    notifications.push({\n      channel: 'sms',\n      to: prop.telephone,\n      message: `ImmoGuinée: Paiement reçu ${formatAmount(montantProprietaire)} pour ${data.listing_titre}. En séquestre 48h. Valider: ${data.validation_url}`\n    });\n  }\n  \n  if (channels.includes('whatsapp') && prop.whatsapp) {\n    notifications.push({\n      channel: 'whatsapp',\n      to: prop.whatsapp,\n      message: `*ImmoGuinée - Paiement Reçu* 💰\\n\\n*Référence:* ${data.payment_reference}\\n*Montant à recevoir:* ${formatAmount(montantProprietaire)}\\n\\n🏠 ${data.listing_titre}\\n👤 Locataire: ${data.locataire?.nom_complet}\\n\\n⏳ _Les fonds sont en séquestre 48h_\\n\\n👍 Valider maintenant: ${data.validation_url}`\n    });\n  }\n  \n  if (channels.includes('push') && prop.user_id) {\n    notifications.push({\n      channel: 'push',\n      user_id: prop.user_id,\n      title: 'Paiement reçu 💰',\n      body: `${formatAmount(montantProprietaire)} de ${data.locataire?.nom_complet}`,\n      data: {\n        payment_id: data.payment_id,\n        action_url: data.validation_url\n      }\n    });\n  }\n}\n\nreturn notifications.map(n => ({ json: n }));"
      },
      "id": "prepare-confirmation-notifications",
      "name": "Prepare Confirmation Notifications",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 200]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Prepare notifications for escrow release\nconst data = $input.item.json;\nconst channels = data.channels || ['sms', 'email', 'push', 'whatsapp'];\nconst notifications = [];\n\nconst formatAmount = (amount) => amount?.toLocaleString('fr-GN') + ' GNF';\n\n// Notification for PROPRIETAIRE - funds released\nif (data.proprietaire) {\n  const prop = data.proprietaire;\n  const montantLibere = data.montant_loyer + data.montant_caution;\n  \n  if (channels.includes('email') && prop.email) {\n    notifications.push({\n      channel: 'email',\n      to: prop.email,\n      subject: `Fonds libérés - ${data.payment_reference}`,\n      body: `Bonjour ${prop.nom_complet},\\n\\nLes fonds de votre paiement ont été libérés avec succès.\\n\\n💰 Montant libéré: ${formatAmount(montantLibere)}\\n📋 Référence: ${data.payment_reference}\\n🏠 Bien: ${data.listing_titre}\\n\\nLes fonds seront crédités sur votre compte ${data.methode_versement || 'Orange Money'} dans les prochaines 24h.\\n\\nL'équipe ImmoGuinée`\n    });\n  }\n  \n  if (channels.includes('sms') && prop.telephone) {\n    notifications.push({\n      channel: 'sms',\n      to: prop.telephone,\n      message: `ImmoGuinée: ${formatAmount(montantLibere)} libérés pour ${data.listing_titre}. Crédit sous 24h.`\n    });\n  }\n  \n  if (channels.includes('push') && prop.user_id) {\n    notifications.push({\n      channel: 'push',\n      user_id: prop.user_id,\n      title: 'Fonds libérés ✅',\n      body: `${formatAmount(montantLibere)} - ${data.listing_titre}`,\n      data: {\n        payment_id: data.payment_id\n      }\n    });\n  }\n}\n\n// Notification for LOCATAIRE - escrow complete\nif (data.locataire) {\n  const loc = data.locataire;\n  \n  if (channels.includes('email') && loc.email) {\n    notifications.push({\n      channel: 'email',\n      to: loc.email,\n      subject: `Transaction finalisée - ${data.payment_reference}`,\n      body: `Bonjour ${loc.nom_complet},\\n\\nVotre transaction a été finalisée avec succès.\\n\\n📋 Référence: ${data.payment_reference}\\n🏠 Bien: ${data.listing_titre}\\n✅ Statut: Confirmé\\n\\nLes fonds ont été transférés au propriétaire. Votre contrat de location est maintenant pleinement actif.\\n\\nBonne installation !\\n\\nL'équipe ImmoGuinée`\n    });\n  }\n  \n  if (channels.includes('push') && loc.user_id) {\n    notifications.push({\n      channel: 'push',\n      user_id: loc.user_id,\n      title: 'Transaction finalisée',\n      body: `${data.listing_titre} - Contrat actif`,\n      data: {\n        payment_id: data.payment_id,\n        contract_id: data.contract_id\n      }\n    });\n  }\n}\n\nreturn notifications.map(n => ({ json: n }));"
      },
      "id": "prepare-release-notifications",
      "name": "Prepare Release Notifications",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 400]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.channel }}",
              "operation": "equals",
              "value2": "email"
            }
          ]
        }
      },
      "id": "is-email",
      "name": "Is Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1100, 100]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.channel }}",
              "operation": "equals",
              "value2": "sms"
            }
          ]
        }
      },
      "id": "is-sms",
      "name": "Is SMS?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1100, 250]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.channel }}",
              "operation": "equals",
              "value2": "whatsapp"
            }
          ]
        }
      },
      "id": "is-whatsapp",
      "name": "Is WhatsApp?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1100, 400]
    },
    {
      "parameters": {
        "fromEmail": "paiements@immoguinee.com",
        "toEmail": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "text": "={{ $json.body }}"
      },
      "id": "send-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1300, 50],
      "credentials": {
        "smtp": {
          "id": "smtp-credentials",
          "name": "SMTP Credentials"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TWILIO_API_URL }}/Messages.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twilioApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "={{ $json.to }}"
            },
            {
              "name": "From",
              "value": "={{ $env.TWILIO_PHONE_NUMBER }}"
            },
            {
              "name": "Body",
              "value": "={{ $json.message }}"
            }
          ]
        }
      },
      "id": "send-sms",
      "name": "Send SMS via Twilio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1300, 200],
      "credentials": {
        "twilioApi": {
          "id": "twilio-credentials",
          "name": "Twilio Credentials"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WAHA_URL || 'http://immog-waha:3000' }}/api/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Api-Key",
              "value": "={{ $env.WAHA_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chatId\": \"{{ $json.to }}@c.us\",\n  \"text\": \"{{ $json.message }}\",\n  \"session\": \"default\"\n}",
        "options": {}
      },
      "id": "send-whatsapp",
      "name": "Send WhatsApp via WAHA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1300, 350]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.IMMOGUINEE_API_URL }}/api/notifications/push",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{ $json.user_id }}\",\n  \"title\": \"{{ $json.title }}\",\n  \"body\": \"{{ $json.body }}\",\n  \"data\": {{ JSON.stringify($json.data) }}\n}"
      },
      "id": "send-push",
      "name": "Send Push Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1300, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "immoguinee-credentials",
          "name": "ImmoGuinée API Key"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "notifications_sent"
            }
          ]
        }
      },
      "id": "merge-results",
      "name": "Merge Results",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Payment notifications sent\", \"event_type\": $('Webhook Trigger').item.json.event_type, \"payment_id\": $('Webhook Trigger').item.json.payment_id, \"timestamp\": new Date().toISOString() } }}"
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1700, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"message\": \"Invalid payload - missing event_type or payment_id\", \"timestamp\": new Date().toISOString() } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 500]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Payload": {
      "main": [
        [
          {
            "node": "Is Payment Confirmed?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Payment Confirmed?": {
      "main": [
        [
          {
            "node": "Prepare Confirmation Notifications",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Release Notifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Confirmation Notifications": {
      "main": [
        [
          {
            "node": "Is Email?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is SMS?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is WhatsApp?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Release Notifications": {
      "main": [
        [
          {
            "node": "Is Email?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is SMS?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is WhatsApp?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Email?": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Is SMS?": {
      "main": [
        [
          {
            "node": "Send SMS via Twilio",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Is WhatsApp?": {
      "main": [
        [
          {
            "node": "Send WhatsApp via WAHA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Push Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS via Twilio": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp via WAHA": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Push Notification": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "payments",
      "createdAt": "2025-01-01T00:00:00.000Z",
      "updatedAt": "2025-01-01T00:00:00.000Z"
    },
    {
      "name": "notifications",
      "createdAt": "2025-01-01T00:00:00.000Z",
      "updatedAt": "2025-01-01T00:00:00.000Z"
    },
    {
      "name": "quittance",
      "createdAt": "2025-01-01T00:00:00.000Z",
      "updatedAt": "2025-01-01T00:00:00.000Z"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-01-01T00:00:00.000Z",
  "versionId": "1"
}
