n8n/workflows/signature-contrat-pdf.json
{
  "name": "ImmoGuinée - Contract Signature Notifications",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "contract-notification",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.event_type }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "validate-payload",
      "name": "Validate Payload",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Parse notification channels and prepare messages\nconst data = $input.item.json;\nconst channels = data.channels || ['sms', 'email', 'push', 'whatsapp'];\n\n// Prepare notification payloads for each channel\nconst notifications = [];\n\nif (channels.includes('email') && data.recipient_email) {\n  notifications.push({\n    channel: 'email',\n    to: data.recipient_email,\n    subject: `Contrat à signer - ${data.contract_reference}`,\n    body: `Bonjour ${data.recipient_name},\\n\\nVous avez reçu un contrat de location à signer.\\n\\nRéférence: ${data.contract_reference}\\nType: ${data.contract_type}\\nLoyer: ${data.loyer_mensuel?.toLocaleString('fr-GN')} GNF/mois\\nPropriétaire: ${data.proprietaire_name}\\n\\nConsultez et signez le contrat: ${data.action_url}\\n\\nL'équipe ImmoGuinée`\n  });\n}\n\nif (channels.includes('sms') && data.recipient_phone) {\n  notifications.push({\n    channel: 'sms',\n    to: data.recipient_phone,\n    message: `ImmoGuinée: Contrat ${data.contract_reference} à signer. Loyer: ${data.loyer_mensuel?.toLocaleString('fr-GN')} GNF/mois. ${data.action_url}`\n  });\n}\n\nif (channels.includes('whatsapp') && data.recipient_whatsapp) {\n  notifications.push({\n    channel: 'whatsapp',\n    to: data.recipient_whatsapp,\n    message: `*ImmoGuinée - Contrat à signer*\\n\\nBonjour ${data.recipient_name},\\n\\n*Référence:* ${data.contract_reference}\\n*Type:* ${data.contract_type}\\n*Loyer:* ${data.loyer_mensuel?.toLocaleString('fr-GN')} GNF/mois\\n*Propriétaire:* ${data.proprietaire_name}\\n\\nConsultez et signez: ${data.action_url}`\n  });\n}\n\nif (channels.includes('push') && data.recipient_id) {\n  notifications.push({\n    channel: 'push',\n    user_id: data.recipient_id,\n    title: 'Contrat à signer',\n    body: `Nouveau contrat de ${data.proprietaire_name} - ${data.contract_reference}`,\n    data: {\n      contract_id: data.contract_id,\n      action_url: data.action_url\n    }\n  });\n}\n\nreturn notifications.map(n => ({ json: n }));"
      },
      "id": "prepare-notifications",
      "name": "Prepare Notifications",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.channel }}",
              "operation": "equals",
              "value2": "email"
            }
          ]
        }
      },
      "id": "is-email",
      "name": "Is Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 150]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.channel }}",
              "operation": "equals",
              "value2": "sms"
            }
          ]
        }
      },
      "id": "is-sms",
      "name": "Is SMS?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.channel }}",
              "operation": "equals",
              "value2": "whatsapp"
            }
          ]
        }
      },
      "id": "is-whatsapp",
      "name": "Is WhatsApp?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 450]
    },
    {
      "parameters": {
        "fromEmail": "contrats@immoguinee.com",
        "toEmail": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "text": "={{ $json.body }}"
      },
      "id": "send-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1050, 100],
      "credentials": {
        "smtp": {
          "id": "smtp-credentials",
          "name": "SMTP Credentials"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TWILIO_API_URL }}/Messages.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twilioApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "={{ $json.to }}"
            },
            {
              "name": "From",
              "value": "={{ $env.TWILIO_PHONE_NUMBER }}"
            },
            {
              "name": "Body",
              "value": "={{ $json.message }}"
            }
          ]
        }
      },
      "id": "send-sms",
      "name": "Send SMS via Twilio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1050, 250],
      "credentials": {
        "twilioApi": {
          "id": "twilio-credentials",
          "name": "Twilio Credentials"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WAHA_URL || 'http://immog-waha:3000' }}/api/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Api-Key",
              "value": "={{ $env.WAHA_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chatId\": \"{{ $json.to }}@c.us\",\n  \"text\": \"{{ $json.message }}\",\n  \"session\": \"default\"\n}",
        "options": {}
      },
      "id": "send-whatsapp",
      "name": "Send WhatsApp via WAHA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.IMMOGUINEE_API_URL }}/api/notifications/push",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{ $json.user_id }}\",\n  \"title\": \"{{ $json.title }}\",\n  \"body\": \"{{ $json.body }}\",\n  \"data\": {{ JSON.stringify($json.data) }}\n}"
      },
      "id": "send-push",
      "name": "Send Push Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1050, 550],
      "credentials": {
        "httpHeaderAuth": {
          "id": "immoguinee-credentials",
          "name": "ImmoGuinée API Key"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "notifications_sent"
            }
          ]
        }
      },
      "id": "merge-results",
      "name": "Merge Results",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Notifications sent\", \"timestamp\": new Date().toISOString() } }}"
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"message\": \"Invalid payload\", \"timestamp\": new Date().toISOString() } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 500]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Payload": {
      "main": [
        [
          {
            "node": "Prepare Notifications",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Notifications": {
      "main": [
        [
          {
            "node": "Is Email?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is SMS?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is WhatsApp?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Email?": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Is SMS?": {
      "main": [
        [
          {
            "node": "Send SMS via Twilio",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Is WhatsApp?": {
      "main": [
        [
          {
            "node": "Send WhatsApp via WAHA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Push Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS via Twilio": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp via WAHA": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Push Notification": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "contracts",
      "createdAt": "2025-01-01T00:00:00.000Z",
      "updatedAt": "2025-01-01T00:00:00.000Z"
    },
    {
      "name": "notifications",
      "createdAt": "2025-01-01T00:00:00.000Z",
      "updatedAt": "2025-01-01T00:00:00.000Z"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-01-01T00:00:00.000Z",
  "versionId": "1"
}
